# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Entorno (NUNCA commitear secretos)
.env
.env.local

# Datos locales
*.sqlite
*.db

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
